* {
  box-sizing: border-box;
}

form {
  border: 2px solid rgb(255, 254, 254);
  border-radius: 20px;
  padding: 10px;
  max-width: 250px;
  margin: 0 auto 0;
  text-align: center;
  /*centrerar textinnehåll*/
  background: rgba(36, 28, 14, 0.8);
}

form h2 {
  font-size: 15px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  margin-bottom: 10px;
}

fieldset {
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  color: rgb(255, 253, 253);
  font-size: 15px;
  border: 2px solid rgb(255, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

input {
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 2px solid rgb(255, 255, 255);
  background-color: #ffffff;
  width: 100%;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

select {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
}

.size-column {
  display: block;
  margin-top: 15px;
}

.size-row {
  display: flex;
  justify-content: center;
}

.choice {
  background-color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
}

.radiobutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin-bottom: 10px;
}

.radiobutton span {
  display: block;
  font-size: 16px;
}

.radiobutton input[type="radio"] {
  display: none;
}

.style-radiobutton {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  cursor: pointer;
  background-color: #ffffff;
}

.radiobutton:hover input ~ .style-radiobutton {
  background-color: rgb(68, 70, 68);
}

.radiobutton input:checked ~ .style-radiobutton {
  background: rgb(12, 85, 1);
}

textarea {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: 2px solid rgb(73, 71, 71);
  font-size: 15px;
  padding: 10px;
  background-color: #ffffff;
}

.back-formbutton,
.buttonform {
  display: block;
  width: 90%;
  max-width: 300px;
  margin: 0 auto 15px;
  padding: 10px 14px;
  margin: 0 auto 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  border-radius: 10px;
}

.back-formbutton {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.buttonform {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.form-popup {
  display: none;
  /* börjar dold */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;
  background: rgba(5, 8, 8, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8px);
  padding: 15px 0;
}

/*================MEDIA QUERIES=======================*/

@media (min-width: 667px) {
  form {
    width: 500px;
    max-width: 90%;
    margin: 10px auto 0;
    padding: 20px;
  }
}

/*DESKTOP*/
@media (min-width: 1024px) {
  .radiobutton input {
    cursor: pointer;
  }

  form {
    width: 700px;
    max-width: 100%;
    margin: 0 auto 0;
    padding: 10px;
  }

  form h2 {
    font-size: 20px;
  }
  fieldset {
    font-size: 20px;
    padding: 10px;
  }

  .style-radiobutton {
    width: 25px;
    height: 25px;
  }

  .radiobutton span {
    font-size: 20px;
  }

  textarea {
    width: 100%;
    height: 70px;
  }

  input {
    width: 100%;
    height: 40px;
    font-size: 15px;
  }

  .choice {
    width: 100%;
    height: 40px;
    font-size: 15px;
  }

  button {
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .back-formbutton {
    cursor: pointer;
    transition: all 0.3s ease;
  }
}
