html, body {
  height: 100%; /*Let body fill the full viewport height*/
  margin: 0;  /* ermove browser default margin*/
  display: flex; /*makin tje body to be at flex container*/
  flex-direction: column; /*stack children vertically: header, main and footer*/
}

/*BACKGROUND*/
body{
  background:none;
   margin: 0;
  padding: 0;
}

body::before{
  content:""; /*creating a empty psuedo-element*/
  position:fixed;
  inset: 0;
  background-image: url("Coffeebeans.jpg"); /* byt ut till din bild */
  background-size: cover;       /* gör så bilden täcker hela sidan */
  background-position: center;  /* centrerar bilden */
  background-repeat: no-repeat; /* hindrar att bilden upprepas */
  z-index: -1;
}

/*TITLE*/
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:30px;
    -webkit-text-stroke: 0.5px black;
    font-weight: bold;
    background: rgba(0,0,0,0.4); /* halvtransparent svart bakgrund */
    display: inline-block;       /* så bakgrunden bara ligger bakom texten */
    padding: 4px 8px;
    border-radius: 6px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.9);
    margin-top:10px;
}


h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:23px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 6px;
   -webkit-text-stroke: 0.3px black;
   text-shadow: 1px  1px 2px rgba(0,0,0,0.9);    margin-top:12px;
   color: white;

}

/*HEADER STYLING*/
.site-header{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:16px;
    display:flex;                   /*Flexbox, placeing brand and nav on same row*/
    justify-content: space-between; /*spread brand to left, menu/nav to right*/
    align-items: center;   
    background: rgba(0,0,0,0.4); /* halvtransparent svart bakgrund */
}

/*Hero sector banner*/
.hero {
  color: rgb(250, 249, 249);              /* vit text */
  text-align: center;       /* centrera texten */
  padding: 5px;       /* gör den högre (”banner-känsla”) */
  margin-bottom: 20px;
  margin-top: 30px;
}

/*LOGO IMAGE*/
.logo{
    width:30px;
    height: auto;
    margin-right: 8px;
    vertical-align:bottom;
}

/*BRAND LINK TEXT*/
.brand {
  text-decoration: none;    
  color: #f9f3f3;               
  font-weight: bold;         
  font-size: 1rem;         
}

/*TEMPORARY HAMURGER MENU*/
.menu-toggle {
  background: none;
  border: none;
  cursor:pointer;
  display: flex; 
  flex-direction: column;
  gap: 5px;
  padding: 8px;
}

.menu-toggle span{
  display:block;
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

.primary-nav{display:none;} /*hide the nav list on smal displays. Just the button exist*/
.primary-nav ul{
    list-style: none; /*no dots*/
    margin: 0;
    padding: 0;   
}
.primary-nav a{
    color:#f8f1e7; 
    text-decoration: none; 
    padding: 7px; 
    border-radius: 4px;
}

/*FOOTER STYLING*/
footer{
  color: rgb(255, 255, 255);              /* vit text */
  text-align: center;       /* centrera texten */
  font-size: 20px;
  padding: 20px;       /* gör den högre (”banner-känsla”) */
  border-radius: 12px;
  margin-top: 20px;
  background: rgba(0,0,0,0.4); /* halvtransparent svart bakgrund */
  display: inline-block;       /* så bakgrunden bara ligger bakom texten */
}

/*GRID: PRODUCT/NEWS CARDS*/
  .grid-info {                   /*parent crid container*/
    display: grid;              /*CSS grid handles rows/columns*/
    grid-template-columns: 1fr; /*Mobile first: 1 column on smal screens*/
    gap: 1px;
    padding:10px;
    justify-items: center;   /* centrera barn horisontellt */
    align-items:start; /*Boxarna fyller samma höjd*/
    max-width: 100%;       /* hindra att grid fyller hela skärmen */
    grid-auto-rows: 1fr;
    box-sizing: border-box;

    }

    /*CHILD CARDS*/
  .box { 
    background: rgba(0,0,0,0.4); /* halvtransparent svart bakgrund */
    backdrop-filter: blur(5px);          /* suddar det som ligger bakom */
    -webkit-backdrop-filter: blur(10px);  /* för bättre stöd i Safari */
    border: 1px solid rgb(40, 38, 38);
    border-radius: 10px;                  /* rundade hörn */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* skugga */
    text-align: center;
    color: white;
    width: 90%;
    max-width: 320px;  /* justera efter smak (t.ex. 200–280px) */
    margin: 5px auto;    /* säkerhetsbälte för centrering */
    display:flex;
    flex-direction:column; /*rubrik, text och button i kolumn*/
    justify-content: center; /*centrerar lodrätt*/
    align-items: center; /*centrerar vågrätt*/
    text-align: center; /*centreraar textinnehåll*/
    padding: 0 20px;           /* bara sidopadding, inget top/bottom */
    min-height: 140px; 
    box-sizing: border-box;
  }




/*================MEDIA QUERIES===============*/
 
/*TABLET*/
 /*ON TABLET: 2 COLUMNS*/
 @media (min-width: 667px){
.grid-info {
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
}
  .box { 
    min-height: 250px; 
    max-width: 300px;
    margin: 10px auto;    
  }  
}


/*DESKTOP*/
/* On desktop: 4 columns (assignment requirement) + slightly taller cards */
@media (min-width: 1024px) {

  main{
    flex:1;
  }

  .grid-info {
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  } 

  .box { min-height: 300px; }  
   .box { 
    min-height: 280px; 
    max-width: 280px;
  }
  .box:hover {
    transform: scale(1.05); /* växer med 5 % */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4); /* lite starkare skugga */
  }

  .menu-toggle {display:none;} /*oN DESKTOP: Show nav links in a row, no hamburger menu*/
  .primary-nav{display:block;}
  .primary-nav ul{
      display:flex; 
      gap:50px;
      align-items: center; /*Center the links vertical*/
      justify-content: flex-end;
  }
   h1{ font-size: 50px; -webkit-text-stroke: 2px black; }
/* Hover: darker gradient + white text */
button:hover {
  background: linear-gradient(145deg, rgb(30, 160, 52), rgb(13, 23, 11)); /*när pilen är över knappen så blir färgen brunn*/
  color: #fff; 
}
  }


/*HIDE THE BRAND TEXT ON SMALLER SCREENS*/
@media (max-width: 768px) {
  .logo-text {display: inline;} /* showing brand-text from tablet to desktop*/
}


/* Hover effect for top menu links */
.primary-nav a:hover{
    color:black;
}

/*===================Button style======================*/

/* Button styling in box 3*/
.button {
  width: 100%;
  padding: 12px 20px;
  background: linear-gradient(145deg, rgb(79, 73, 73), rgb(100, 0, 0)); /*när pilen är över knappen så blir färgen brunn*/
  color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  border-radius: 10px;
  border: 2px solid rgb(97, 2, 2);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  font-size: 15px;
}
.back-formbutton{
  width: 100%;
  padding: 12px 20px;
  background: linear-gradient(145deg, rgb(43, 40, 40), rgb(100, 0, 0)); /*när pilen är över knappen så blir färgen brunn*/
  color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  border-radius: 10px;
  border: 2px solid rgb(97, 2, 2);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  font-size: 15px;
}

